[2017-11-14 10:40] jamalv opened #6 "POC: Use encryption to sign data and check signature"
## POC: encryption-sign-and-check-signature

### Background / Context
**Goal/user story:**

**Build for:**
* iOS
* Android
* Browser

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 10:51] jamalv opened #7 "POC: Generate a keypair on android"
## poc1-android-keypair

### Background / Context
**Goal:** Generate an ethereum keypair on an android client. It is possible to genereate these off-chain. This is needed so that we dont have to send the private key to the server.

**More info:** https://kobl.one/blog/create-full-ethereum-keypair-and-address/
On iOS we achieved this using: https://github.com/bakkenbaeck/EtherealCereal

### Hypothe

[2017-11-14 12:19] jamalv opened #8 "POC: Authenticate on node with keypair in app > perform transactions without sending private key to server."
## POC: authenticate-from-app

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:23] jamalv opened #9 "POC: (light)Client in app. Perform transactions locally."
## poc-mobile-light-client

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:28] jamalv opened #10 "POC: Interaction between smart contract and IPFS."
## poc-smart-contract-ipfs

### Background / Context
**Goal/user story:**

**More info:** [introduction to ipfs + ethereum](https://medium.com/@ConsenSys/an-introduction-to-ipfs-9bba4860abd0)

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:29] jamalv opened #11 "POC: Interaction between smart contract and Swarm"
## poc-smart-contract-swarm

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:30] jamalv opened #12 "POC: Interaction between smart contract and local data on client-side."
## poc-smart-contract-client-data

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:32] jamalv opened #13 "POC: End-to-end encryption and decryption"
## poc-encryption-encrypt-and-decrypt

### Background / Context
**Goal/user story:**

**Build for:**
* iOS
* Android
* Browser

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:33] jamalv commented on #13
related to https://github.com/teamforus/proofs-of-concept/issues/6

[2017-11-14 12:34] jamalv opened #14 "POC: Temporary access to data on IPFS/Swarm."
## poc_temporary_access_to_data

### Background / Context
**Goal/user story:**
  - smart contract that manages who has access to what.
  - Temporary keys, can keys be made unusable?

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:35] jamalv opened #15 "POC-001: Updates of smart contracts"
# moved to [poc folder](https://github.com/teamforus/proofs-of-concept/tree/poc1_update_smart_contracts/poc1-update-smart-contracts)

[2017-11-14 12:37] jamalv commented on #15
@jakkodejong I heard trough the grapevine that you are planning to take on this one?

[2017-11-14 12:39] jakkodejong commented on #15
Yes, I will pick this up.

[2017-11-14 12:42] jamalv opened #16 "POC: Validation functionality"
## poc-validation-function

### Background / Context
**Goal/user story:**

**Please investigate different options:**
  - Data entirely in ethereum smart contract
  - Data in Swarm/IPFS, signatures and validation process in smart contract
  - Data and signatures in Swarm/IPFD, validation process in smart contract

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

#

[2017-11-14 12:46] jamalv opened #17 "POC: Validation functionality, end to end / off chain"
## poc-validation-off-chain

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:47] jamalv opened #18 "POC: Validation functionality zero knowledge"
## poc-validation-zero-knowledge

### Background / Context
**Goal/user story:** The goal of this poc is to apply zero knowledge in the context of Platform Forus.

**Related to:** https://github.com/teamforus/research-and-development/issues/35

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:51] jamalv opened #19 "POC-002: Restoration of access to identity"
# merged into [develop](https://github.com/teamforus/research-and-development/tree/develop/poc002-identity-restoration)

[2017-11-14 12:52] jamalv opened #20 "POC: Up-to-date access management"
## poc-access-management

### Background / Context
**Goal/user story:**

**More info:**
  - How to deal with people that for example leave a company?

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:54] jamalv opened #21 "POC: Key management with derived keys"
## poc-management-derived-keys

### Background / Context
**Goal/user story:**

**More info:**
  - Top issuer knows *lower* keys
  - *Lower* keys do **not** know *higher* keys

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:55] jamalv opened #22 "POC: Costs & Benefits"
## poc-costs-benefits

### Background / Context
**Goal/user story:**

**More info:**
  - Transactions/Computing
  - Storage/Memory
  - Network/Server
  - Who pays for what in centralized and decentralized scenario?

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:56] jamalv opened #23 "POC: Platform Forus API design"
## poc-platform-api-design

### Background / Context
**Goal/user story:**

**More info:**

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 12:59] jamalv opened #24 "POC-003: Contract migration"
[merged into develop](https://github.com/teamforus/research-and-development/tree/develop/poc003-contract-migration)

[2017-11-14 13:00] jamalv opened #25 "POC: Host frontend on IPFS"
## poc-hosting-frontend-ipfs

### Background / Context
**Goal/user story:**

**More info:**
  - how to update decentralised front-end?

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:01] jamalv opened #26 "POC: Host frontend on Swarm"
## poc-hosting-frontend-swarm

### Background / Context
**Goal/user story:**

**More:**
  - how to update decentralised front-end?

### Hypothesis:

**Other option:**

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:02] jamalv opened #27 "POC: IPNS (nameserver IPFS)"
## poc-ipns

### Background / Context
**Goal/user story:**

**More:**
  - Is it possible to change IPFS data without having to change the linkhash in smart contract?

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:03] jamalv opened #28 "POC: Pay transaction fees for other contract"
## poc

### Background / Context
**Goal/user story:**

**More:**

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:04] jamalv opened #29 "RES: Blockchain platform comparison"
## res001-platform-comparison

### Background / Context
**Goal:** To find a blockchain technology that is fully decentralised and future proof.
**Risks:** Immature technology.
**More:**
  - Contenders
    - Ethereum
    - Bitcoin
    - [KSI Technology](https://guardtime.com/technology)
    - [IOTA](http://iota.org)

  - Requirements
    - Open source community
    - Permissionless consensus algori

[2017-11-14 13:09] jamalv opened #30 "RES: Ethereum scalability"
## res-ethereum-scalability

### Background / Context
**Goal/user story:**

**More:**
  - transaction speed
  - costs

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:10] jamalv opened #31 "POC: Structure of decentralised data"
## poc-decentralised-data-structure

### Background / Context
**Goal/user story:**

**More:**
  - Use part of same IPFS data in multiple dapps

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:12] jamalv opened #32 "POC: state/payment channels"
## poc-state-and-payment-channels

### Background / Context
**Goal/user story:**

**More:**
  - Perform safe transactions off-chain, backed by a transaction on-chain.

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:14] jamalv opened #33 "POC: Generic usable identities"
## poc-generic-identities

### Background / Context
**Goal/user story:**

**More:**
  - One identity for multiple different dapps
  - Uport

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:15] jamalv opened #34 "POC: Incentivize validators to be honest"
## poc-validator-incentives

### Background / Context
**Goal/user story:**

**More:**
  - Validator inception: validation of validators

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:16] jamalv opened #35 "POC: Zero knowledge proofing (zk-snarks)"
## poc-zk-snarks-data-types

### Background / Context
**Goal/user story:**

**More:**
- What kind of data can be proofed with ZK-snarks?
  - booleans
  - numbers
  - signatures

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 13:17] jamalv commented on #35
related to https://github.com/teamforus/proofs-of-concept/issues/18

[2017-11-14 13:56] jamalv opened #36 "POC: Example"
## poc-example

### Background / Context
**Goal:** Provide an example

### Hypothesis:
By making an example, it is easier to show the workflow.

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 15:22] jakkodejong commented on #15
Filled in template at 2017-nov-14 16:22h

[2017-11-14 15:26] jamalv commented on #15
Great! This will be POC2, please create a new feature branch with a folder named poc2_update_smart_contracts and add the contents of this issue to the readme.

[2017-11-14 16:04] jamalv opened #37 "POC: smart contracts prototype for the roles in Platform Forus"
## poc_ethereum_contracts_platform_roles

### Background / Context
**Goal/user story:** To enable the interactions between sponsor/validator/requester/provider in ethereum smart contracts.

**More:**

### Hypothesis:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-14 20:29] jamalv commented on #19
Looking good! 👍

[2017-11-16 13:07] jamalv opened #38 "POC: User identification"
# poc-identification
### v0.0

## Background / Context
**Goal/user story:** The user needs a way to authenticate using their keypair.

**More:** uPort, Metamask, custom solution.

## Hypothesis:

## Method
*documentation/code*

## Result
*present findings*

## Recommendation
*write recomendation*

[2017-11-16 13:11] jamalv opened #39 "POC: User authorisation levels"
# poc-user-authorisation-levels
### v0.0

## Background / Context
**Goal/user story:** Enable a user to act in the name of an organisation. Enable the organisation to manage authorisation levels.

**More:**

## Hypothesis:

## Method
*documentation/code*

## Result
*present findings*

## Recommendation
*write recomendation*

[2017-11-16 13:15] jamalv opened #40 "POC: interfacing with existing data sources"
# poc-connecting-data-sources
### v0.0

## Background / Context
**Goal/user story:** Often validators will have existing databases, how will we connect with these?

**More:** Look into the concept of oracles?

## Hypothesis:
Offer the validator an API. We can offer SDKs to simplify the process of connecting to the API.
## Method
*documentation/code*

## Result
*present findings*

## Recommendation

[2017-11-16 13:18] jamalv opened #41 "POC: Concept UI for generic fund dashboard (sponsor)"
# poc-sponsor-generic-ui
### v0.0

## Background / Context
**Goal/user story:**

**More:**

## Hypothesis:

## Method
*documentation/code*

## Result
*present findings*

## Recommendation
*write recomendation*

[2017-11-16 13:23] jamalv opened #42 "POC-012: Concept UI for generic webshop"
# [moved to develop](https://github.com/teamforus/proofs-of-concept/tree/develop/poc012-webshop-ui)

[2017-11-16 13:25] jamalv opened #43 "POC: Concept UI for generic validation dashboard (validator)"
# [merged into develop](https://github.com/teamforus/proofs-of-concept/tree/develop/poc004-validator-dashboard-ui)

[2017-11-16 13:27] jamalv opened #44 "POC: Concept UI for generic provider dashboard"
# poc-provider-generic-ui
### v0.0

## Background / Context
**Goal/user story:**

**More:**

## Hypothesis:

## Method
*documentation/code*

## Result
*present findings*

## Recommendation
*write recomendation*

[2017-11-16 13:29] jamalv opened #45 "POC: Generic architecture for the four roles in the platform"
# poc-platform-architecture
### v0.0

## Background / Context
**Goal/user story:**

**More:**

## Hypothesis:

## Method
*documentation/code*

## Result
*present findings*

## Recommendation
*write recomendation*

[2017-11-17 10:15] martijndoornik commented on #45
This might be a duplicate of #37?

[2017-11-17 10:17] martijndoornik commented on #19
Added a first commit. Looking for feedback :)

[2017-11-20 13:25] jamalv commented on #45
I don't think so; #37 is focussed on the code, while this one is focussed on architecture (think diagrams)

[2017-11-20 14:16] jamalv opened #50 "POC: Concept UI for generic app"
# [moved to develop](https://github.com/teamforus/proofs-of-concept/tree/develop/poc011-app-ui)

[2017-11-21 10:26] jamalv opened #51 "Number assignment"
Comment your POC+number here so we can easily see the latest number.

[2017-11-27 09:35] maxvisser commented on #29
http://www.rsk.co

Rootstock is a Bitcoin Sidechain. It implements a Bitcoin 2-Way peg. The 2WP allows bitcoins to transferred to and from Rootstock at a fixed conversion rate. The 2WP design depends on Drivechain + federation votes as a consensus algorithm. Rootstock is still in test development. As I see it, rootstock will implement all of ethereum functionality. Rootstock is also backwards-comp

[2017-11-28 08:17] martijndoornik commented on #51
poc6-generic-forus-architecture

[2017-11-28 14:06] jakkodejong opened #52 "POC: structure of data fed into smart contracts"
# poc
### v0.0

## Background / Context
**Goal/user story:**
1. I want to know how to interface with smart contract functions.
2. I need to able to see what functions a deployed smart contract has available.
3. From these functions, I want to know which variables they require.

**More:**

## Hypothesis:
1. Interaction with smart contracts requires the user to send function input data in JSON forma

[2017-11-28 14:10] martijndoornik opened #53 "POC: ERC20-complaint tokens"
## poc-ERC20 token

### Background / Context
**Goal:** Create a recreatable token for any and every application with the four roles (see poc6)

### Hypothesis:
The token will implement the structure for all ERC20 tokens, allowing easier transactions with it. However, they will require validations other than having enough money.

### Method
 ERC20 standard has certain functions that a ERC-complaint

[2017-11-28 14:12] martijndoornik commented on #51
poc7-erc20-complaint-tokens

[2017-11-29 14:04] martijndoornik opened #54 "POC: Identity validation"
## poc-social-consensus-network

### Background / Context
**Goal:** Create a network of identities, that people can use to verify attributes of other people. This way, social consensus can be assured.

### Hypothesis:

### Assignee:

### Method
*documentation/code*

### Result
*present findings*

### Recommendation
*write recomendation*

[2017-11-29 14:22] martijndoornik commented on #53
On hold as is dependant on #54, waiting until resolved.

[2017-11-29 14:22] martijndoornik commented on #51
poc8-social-consensus-network

[2017-12-05 12:17] martijndoornik commented on #51
poc9-user-authorization-levels

[2017-12-06 08:36] martijndoornik opened #55 "POC: User security between scripts"
## poc-user-security-between-scripts

### Background / Context
**Goal:** When using multiple scripts that interact with each other, it is hard to track who was the original caller of the script. The goal is to make a definition of what user is calling a certain method when interacting between scripts.

### Hypothesis:
Let's say you have three scripts, that interact in a chain called by user A, the

[2017-12-06 12:21] martijndoornik opened #56 "POC: Social consensus network with recoverable identities"
## poc-recoverable-consensus-network

### Background / Context
**Goal:** Combining POC2 and POC8 into a recoverable identity consensus network.

**Bonus**: Allowing the identity to have a wallet, rather than the account having to pay. This way, multiple accounts can share a wallet, or one person can have multiple wallets in one identity.

### Hypothesis:

### Assignee: Martijn Doornik

### Method

[2017-12-06 14:14] martijndoornik commented on #51
poc10-recoverable-consensus-network

[2017-12-07 09:51] jamalv commented on #51
poc11-app-ui

[2017-12-07 09:57] jamalv commented on #43
[merged into develop](https://github.com/teamforus/proofs-of-concept/tree/develop/poc4-validator-dashboard-ui)

[2017-12-07 15:43] jamalv commented on #51
poc012-webshop-ui

[2017-12-08 08:47] maxvisser opened #61 "POC: Data Handshake"
# poc: Data Handshake
### v0.1

## Background / Context
**Goal/user story:**
An identity or digital asset has properties that defines the identity/asset. For a person, a property could be age, length. These properties are sometimes sensitive and therefore can't be send to the blockchain or be stored there.

A data handshake is seed that two parties generate to encrypt the data. Who knows the seed

[2017-12-08 14:55] maxvisser commented on #29
http://www.EOS.io/

Now doing an ICO for 364 days. 1 biilion (NL: miljard) coins, keeping 1 million for the company behind EOS. (a canadian company called block.one). EOS has a public testnet. Smart Contracts are written in C;
example:
https://github.com/EOSIO/eos/blob/master/contracts/currency/currency.cpp

"To ensure inclusivity, EOS Tokens have no pre-determined price; rather price is set by ma

[2017-12-12 12:12] maxvisser commented on #30
Ethereum has set aside 20% of their ICO for development. In June the foundation now had over $150m but only 5 developers actively working on the ethereum core.

https://medium.com/@FEhrsam/scaling-ethereum-to-billions-of-users-f37d9f487db1

some things to consider:
- These are hard computer science and game theory problems. Most of them have never been solved before. Estimating completion can be h

[2017-12-13 10:26] jamalv opened #65 "POC: Test network"
# poc-testnet
### v0.0

## Background / Context
**Goal/user story:** It would be useful to have a testnetwork to deploy to. But the ethereum networks are often unstable due to spam etc. If this network works well, it could also be used while platform Forus cannot go fully public yet.

**More:** The go-ethereum team released a tool called Puppeth to easily (hopefully) set up a testnet including mon

[2017-12-13 10:28] jamalv commented on #65
@martijndoornik is this something for you? please check out the video, it looks pretty neat.

[2017-12-14 10:12] jamalv commented on #30
@maxvisser That’s a great article. It would be interesting to see how much has changed in the last 6 months and research the curent status of scaling solutions like:
* https://golem.network
* https://iex.ec
* https://truebit.io
* https://raiden.network
* payment channels
* https://ethersphere.github.io/swarm-home/
How far along they are now? Is it already possible to build a poc with (some of) the

[2017-12-14 14:31] maxvisser commented on #30
@jamalv  Personally I think the result of this RES should be a update of this table (the one from my artile from Fred Ehrsam):
https://cdn-images-1.medium.com/max/1000/1*sFUjslJ0p52GJvWyoMsV8A.png

Quick google search of each item gives me little hope that there is any update though. Vitalik said in the november update (yt video) that they are working on sharding. so there are some people working

[2017-12-18 14:56] maxvisser commented on #29
https://github.com/teamforus/research-and-development/tree/develop/res001-blockchain-platform-comparison

Still need discussion for a recomendation. NEO is promising and gets a POC

[2017-12-18 14:56] #29 closed

[2017-12-21 12:01] maxvisser commented on #54
https://github.com/ethereum/EIPs/issues/725

[2017-12-21 12:25] maxvisser commented on #54
https://github.com/ethereum/EIPs/issues/735

[2018-01-02 10:07] maxvisser commented on #65
Alpha Casper FFG Testnet launched.
Instructions: http://notes.eth.sg/MYEwhswJwMzAtADgCwEYBM9kAYBGJ4wBTETKdGZdXAVmRvUQDYg=?view

Mirror: https://hackmd.io/s/Hk6UiFU7z

[2018-01-03 08:36] Reijnn commented on #51
poc013-Zero-knowledge-proofing

[2018-01-03 09:19] maxvisser commented on #39
https://github.com/ethereum/EIPs/issues/745

[2018-01-03 09:20] maxvisser commented on #39
`pragma solidity ^0.4.17;

contract ERC745 {

    event Authorized(address _destination, uint _maxValue, bytes4 _method, uint expiration);
    event Unauthorized(address _destination, bytes4 _method);
    event Executed(address _destination, uint _value, bytes4 _method);

    /**
     * @notice Authorizes call method `_method` to `_destination` with maximum value of `_maxValue` with expiration of

[2018-01-08 12:37] jamalv commented on #38
![serverless authentication ipfs](https://user-images.githubusercontent.com/30194799/34671005-f329d714-f478-11e7-8c19-968ae55fdf6a.png)

[2018-01-09 15:59] maxvisser commented on #40
A validator like 'Kadaster', 'RDW' or an other government entity needs to comply to the new GDPR legislation. When a citizen of the EU request insight in their own information, an organisation needs to comply.

Steps:
- Citizen files a 'insight' request to Kadaster.
- Kadaster makes a JSON object, thats formatted so that it can be used by the Forus Platform
- Kadaster signs this JSON object using

[2018-01-10 11:26] jamalv commented on #19
merged into develop

[2018-01-10 11:26] #19 closed

[2018-01-10 11:29] jamalv commented on #24
v0.1 is merged into develop

[2018-01-10 11:29] #24 closed

[2018-01-10 11:30] jamalv commented on #43
[merged into develop](https://github.com/teamforus/research-and-development/tree/develop/poc004-validator-dashboard-ui)

[2018-01-10 11:30] #43 closed

[2018-01-10 11:34] jamalv commented on #56
[merged into develop](https://github.com/teamforus/research-and-development/tree/develop/poc010-recoverable-consensus-network)

[2018-01-10 11:34] #56 closed

[2018-01-10 11:35] jamalv commented on #50
[merged into develop](https://github.com/teamforus/research-and-development/tree/develop/poc011-app-ui)

[2018-01-10 11:35] #50 closed

[2018-01-10 11:36] jamalv commented on #42
[merged into develop](https://github.com/teamforus/research-and-development/tree/develop/poc012-webshop-ui)

[2018-01-10 11:36] #42 closed

[2018-01-10 12:41] jamalv commented on #38
https://github.com/whyrusleeping/ipfs-key and https://github.com/whyrusleeping/ipns-pub

[2018-01-12 08:50] maxvisser commented on #35
https://github.com/ing-bank/zkrangeproof

[2018-01-16 10:54] Reijnn commented on #51
poc014-testnet

[2018-01-22 12:25] jamalv commented on #8
example implementation: https://github.com/TrustWallet/trust-wallet-ios

[2018-01-22 12:29] jamalv commented on #13
https://github.com/bigchaindb/privacy-protocols#tls-handshake

[2018-01-22 14:34] maxvisser commented on #40
https://github.com/teamforus/research-and-development/tree/RES002-interfacing-with-existing-data-sources/res002-interfacing-with-existing-data-sources

[2018-01-24 18:47] jamalv commented on #35
https://github.com/jstoxrocky/zksnarks_example

[2018-01-29 14:42] jamalv commented on #6
for iOS: https://github.com/bakkenbaeck/EtherealCereal

[2018-01-30 07:59] jastam commented on #51
poc015-encryption-sign-and-check-signature

[2018-01-31 10:51] jastam commented on #51
poc015-encryption-encrypt-and-decrypt

[2018-02-13 15:35] jamalv commented on #40
merged to develop in: https://github.com/teamforus/research-and-development/pull/71

[2018-02-13 15:35] #40 closed

[2018-02-15 15:03] maxvisser commented on #32
https://raiden.network/micro.html
https://youtu.be/QZFbHyagVCc

[2018-02-28 16:38] synctext opened #72 "Evaluate TUDelft Trustchain software"
@datafluisteraar indicated you are doing great work on identity and blockchain in general. For the past decade we've deployed and improved ledger technology and are working with the government to deploy legally-valid self-sovereign identity solutions.

We would like to work together with [Zuidhorn municipality](https://www.zuidhorn.nl/inwoners/producten-en-diensten_3130/product/geboorte-aangeven_9

[2018-02-28 19:19] jamalv commented on #72
@synctext thx for reaching out! Maybe a good first step is to add trust chain to the platform comparison? See: https://github.com/teamforus/research-and-development/issues/29 / [readme](https://github.com/teamforus/research-and-development/tree/develop/res001-blockchain-platform-comparison)

@maxvisser

[2018-02-28 20:20] maartenfv commented on #72
Hello @synctext! I have asked @datafluisteraar for your contact information. I will send an email to discuss cooperation and will inform Zuidhorn.

[2018-03-01 08:27] bkaptijn commented on #72
Like to add to this that this really fits Discipl. See our latest pitch (note that this is still a concept):

https://docs.google.com/presentation/d/1MwfuZd1rYBDqp3kTlQ7T8P-VlYAeRLlHqBWVMNa8RNU/edit?usp=sharing

We are creating a verifiable claims API on top of the platforms already mentioned in the comparison mentioned above (IOTA, Ethereum, Trustchain, ...). We add to this a so called Discipl Pa

[2018-03-01 08:59] maxvisser commented on #72
@bkaptijn @synctext will look at Trustchain whitepaper and add it to our platform comparison PoC.

Are there any known implementations of Trustchain? Any information you can provide for me to make a good comparison will help.

[2018-03-01 09:07] bkaptijn commented on #72
Well Tribler itself (a sort of decentralised youtube) is their main example. But it is a steep learning curve (?). I still need to look into it myself; short of time. So to overcome this I intent to designate one of our Discipl projects to develop a solution using a Discipl core - binding implementation to trustchain, just like we dit with IOTA for the municipality of Haarlem. Learn by doing.

[2018-03-01 13:27] maxvisser commented on #72
"Could you please evaluate our technology and perhaps consider trying it out? Our scalable blockchain can do 10k transactions per second, without servers. " @synctext  If what @bkaptijn says is true, how do you expect me to try the software out?

I looked at the Discipl core (https://github.com/discipl/core). The concept looks promising, the code looks not really fully fleshed out yet.

[2018-03-01 14:33] maxvisser commented on #35
https://github.com/barryWhiteHat/libsnark-tutorial

[2018-03-01 15:21] bkaptijn commented on #72
About the discipl code: Thats right. We've just started. About trustchain: I didn't say it can't be tried out, just that I didn't had time for it and it just doesn't seem to be really easy (to find where to look). So i propose to build a discipl binding in context of a (paid) pilot project just to try out trustchain.

[2018-03-02 09:23] maxvisser commented on #72
Thanks @bkaptijn for a clarification. We will email you to discuss this even more and maybe plan a meeting. I will look into trustchain and will update this issue with the results.

[2018-03-13 07:08] jamalv commented on #8
closing this issue since this is achieved by implementing web3 in https://github.com/teamforus/concept-identity

[2018-03-13 07:08] #8 closed

[2018-03-13 07:09] jamalv commented on #7
closing this issue since this is achieved by implementing web3 in https://github.com/teamforus/concept-identity

[2018-03-13 07:09] #7 closed

[2018-03-13 07:10] jamalv commented on #9
Closing this issue due to inactivity, it is also more specifically relevant to https://github.com/teamforus/concept-identity

[2018-03-13 07:10] #9 closed

[2018-03-13 07:12] jamalv commented on #10
Closing this issue due to inactivity.

Preliminary conclusion: not currently feasible. Has to happen trough the client.

[2018-03-13 07:12] #10 closed

[2018-03-13 07:12] jamalv commented on #11
Closing this issue due to inactivity.

Preliminary conclusion: not currently feasible. Has to happen trough the client.

[2018-03-13 07:12] #11 closed

[2018-03-13 07:13] jamalv commented on #12
Closing this issue due to inactivity.

[2018-03-13 07:13] #12 closed

[2018-03-13 07:17] jamalv commented on #6
Opened pull request: https://github.com/teamforus/research-and-development/pull/74

[2018-03-13 07:17] #6 closed

[2018-03-13 07:18] jamalv commented on #13
Opened pull request: https://github.com/teamforus/research-and-development/pull/74

[2018-03-13 07:18] #13 closed

[2018-03-13 07:19] jamalv commented on #15
@maxvisser @martijndoornik is this achieved by using embark?

[2018-03-13 07:19] jamalv commented on #14
Closing this issue due to inactivity

[2018-03-13 07:19] #14 closed

[2018-03-13 07:23] jamalv commented on #17
duplicate of https://github.com/teamforus/research-and-development/issues/16

[2018-03-13 07:23] #17 closed

[2018-03-13 07:24] jamalv commented on #18
duplicate of https://github.com/teamforus/research-and-development/issues/35

[2018-03-13 07:24] #18 closed

[2018-03-13 07:26] jamalv commented on #22
closing due to inactivity

[2018-03-13 07:26] #22 closed

[2018-03-13 07:27] jamalv commented on #23
moved to https://github.com/teamforus/concept-platform

[2018-03-13 07:27] #23 closed

[2018-03-13 07:30] jamalv commented on #25
opened pull request: https://github.com/teamforus/research-and-development/pull/75

[2018-03-13 07:30] #25 closed

[2018-03-13 07:33] jamalv commented on #65
Pull request: https://github.com/teamforus/research-and-development/pull/70

[2018-03-13 07:33] #65 closed

[2018-03-13 07:34] jamalv commented on #21
closing due to inactivity

[2018-03-13 07:34] #21 closed

[2018-03-13 07:35] jamalv commented on #28
closing due to inactivity

[2018-03-13 07:35] #28 closed

[2018-03-13 07:48] jamalv commented on #35
opened pull request: https://github.com/teamforus/research-and-development/pull/79

[2018-03-13 07:48] #35 closed

[2018-03-13 07:50] jamalv commented on #27
closing due to inactivity. relevant: https://github.com/whyrusleeping/ipfs-key and https://github.com/whyrusleeping/ipns-pub

[2018-03-13 07:50] #27 closed

[2018-03-13 07:51] jamalv commented on #31
closing due to inactivity

[2018-03-13 07:51] #31 closed

[2018-03-13 07:52] jamalv commented on #45
moved to https://github.com/teamforus/concept-platform

[2018-03-13 07:52] #45 closed

[2018-03-13 07:53] jamalv commented on #37
moved to https://github.com/teamforus/concept-platform

[2018-03-13 07:53] #37 closed

[2018-03-13 07:54] jamalv commented on #61
possibly related: https://github.com/teamforus/research-and-development/issues/38

[2018-03-13 07:57] jamalv commented on #52
hey Jakko, we're trying to minimise unassigned/inactive issues, you can close this if you don't plan to continue work on it. it can always be re-opened :)

[2018-03-13 07:58] jamalv commented on #34
closing due to inactivity, relevant to: https://github.com/teamforus/concept-platform

[2018-03-13 07:58] #34 closed

[2018-03-13 08:03] jamalv commented on #38
moved to https://github.com/teamforus/concept-identity/issues/21

[2018-03-13 08:03] #38 closed

[2018-03-13 08:04] jamalv commented on #33
replaced with https://github.com/teamforus/concept-identity

[2018-03-13 08:04] #33 closed

[2018-03-13 08:05] jamalv commented on #32
closing due to inactivity

[2018-03-13 08:05] #32 closed

[2018-03-13 08:10] jamalv commented on #36
replaced with the issue template: https://github.com/teamforus/research-and-development/blob/develop/ISSUE_TEMPLATE.md

[2018-03-13 08:10] #36 closed

[2018-03-13 08:12] jamalv commented on #30
@maxvisser it would be nice to compile this into a res document at some point, just to collect the status of different scaling solutions. Would you be interested in doing that?

[2018-03-13 08:14] jamalv commented on #16
moved work to https://github.com/teamforus/concept-platform/

[2018-03-13 08:14] #16 closed

[2018-03-13 08:14] jamalv commented on #20
closing due to inactivity

[2018-03-13 08:14] #20 closed

[2018-03-13 13:10] maxvisser commented on #61
@jamalv yes this issue is p2p and #38 is between webapp and phone.

[2018-03-13 13:13] maxvisser commented on #15
for development Embark automatically deploys changes to your local geth instance. Issue still stands for when deploying update to mainnet. Somehow your front end should communicate through a proxy contract to your smart contracts, when you deploy changes, you can edit the proxy to point to the newly deployed contracts.

[2018-03-13 13:17] maxvisser commented on #26
The status of swarm is proof of concept vanilla prototype tested on a toy network. This version is POC 0.2.5

http://swarm-guide.readthedocs.io/en/latest/introduction.html#about

Probably should close this issue until Swarm release his 1.0 version and ready for development

[2018-03-13 13:27] #26 closed

[2018-03-13 14:43] maxvisser commented on #15
https://gist.github.com/GNSPS/ba7b88565c947cfd781d44cf469c2ddb maybe this can be of use

[2018-03-13 16:16] jamalv commented on #51
from now on the numbers are assigned in the pull-request

[2018-03-13 16:16] #51 closed

[2018-03-14 08:38] jamalv commented on #44
moved to https://github.com/teamforus/concept-shop/issues/6

[2018-03-14 08:38] #44 closed

[2018-03-14 08:38] jamalv commented on #41
moved to https://github.com/teamforus/concept-shop/issues/3

[2018-03-14 08:38] #41 closed

[2018-03-14 19:05] jamalv commented on #15
https://github.com/ethereum/EIPs/issues/121

[2018-03-15 11:31] maxvisser commented on #15
maybe we should try making an ENS address for a smart contract. Let the front-end point towards ENS and ENS points to the current smartcontract.

[2018-03-26 11:39] jamalv opened #80 "Commit vote and me app demo"
- [x] commit vote demo @danrminds @dev-weget
- [x] commit me demo @danrminds @dev-weget
- [x] make pull request to https://github.com/TeamSnowflake/research-and-development @jamalv

[2018-03-27 18:45] jamalv commented on #80
Added placeholders: https://github.com/teamforus/research-and-development/tree/demos

[2018-03-28 13:07] danrminds commented on #80
The designs will also be added in this repository via Git LFS?

[2018-03-28 13:32] jamalv commented on #80
Yea, designs as well 👍 LFS should happen automatically I think (hope) or maybe you have to install the software: https://git-lfs.github.com

[2018-03-28 13:36] jamalv commented on #80
And I don't know if you still have write access to this repo (@maxvisser?), otherwise you have to fork it, commit it in your own fork (where you will have full access) and then create a pull request to this repository.

[2018-03-28 13:38] danrminds commented on #80
I already have LFS installed. Can you please create placeholder folders for the designs?

[2018-03-28 13:42] jamalv commented on #80
done 👍

[2018-04-12 18:27] #80 closed

[2018-04-13 12:06] maxvisser commented on #30
Yes of course. Maybe plan this for some sprint.

[2018-04-13 12:07] #61 closed

[2018-04-24 14:37] jamalv opened #82 "Recompile me demo iOS"
https://github.com/teamforus/me/issues/27

[2018-04-25 18:37] danrminds opened #83 "New translations in the Electron App"

[2018-05-01 13:57] jamalv commented on #82
@danrminds could you give me your apple-id? I will add you as a developer at the Foundation Forus Apple organisation so Valentin is also able to do this.

[2018-05-01 14:16] danrminds commented on #82
d.ghimpu@rminds.nl

[2018-05-01 14:46] jamalv commented on #82
invitation sent 👍

[2018-05-07 09:45] maartenfv opened #84 "Me demo v0.2"
We are currently working on a design update for the me app. It would be good to update the demo and deploy it to the stakeholders.

- [x] finish designs https://github.com/teamforus/me/issues/26 @danrminds @dev-weget
- [x] translate / update texts @linda-90
- [x] update the demo @danrminds @dev-weget
- [ ] deploy demo to stakeholders @gerbenbosschieter

[2018-05-07 09:47] danrminds commented on #84
Do you want to spend time now on updating the demo? Or only about using images as demo?
So I know how to plan everything.

[2018-05-07 13:37] maartenfv commented on #84
Demo it is.

Timeline:

Finish design:  fr. 11-04 @danrminds
Text: 11-04 @linda-90 @danrminds Review: @gerbenbosschieter
Dev: fr. 18-04 @danrminds

[2018-05-07 14:03] jamalv commented on #84
designs available here (for translation): https://github.com/teamforus/research-and-development/blob/develop/demo002-me/designs/flowchart.png

[2018-05-09 10:14] maartenfv commented on #84
Linda is informed, she will translate text in png (link above) and will be notified when the rest of the designs are finished

[2018-05-09 11:38] #83 closed

[2018-05-11 12:54] linda-90 commented on #84
I have sent the translations to @danrminds

[2018-05-13 20:17] danrminds commented on #82
We will try to recompile it during tomorrow (Monday)

[2018-05-14 18:28] Fekkes opened #86 "Version declaration of the required packages/requirements"
# poc-packages requirements version
### v0.0

### Assignee:

## Background / Context
**Goal/user story:** While installing the required packages for the me-app, StemApp and the StemApp Dashboard we found out (Max, Ernst-Jan and me) that the versions of the packages that are required are not declared clearly.  This causes a lot of errors while compiling or installing.

## Method
_Documentation_

##

[2018-05-15 09:09] jamalv opened #87 "Vote demo feedback from apple"
From apple:

Suggestion: redesign the [vote demo](https://github.com/teamforus/research-and-development/tree/develop/demo003-vote) so that users are able to access functionality without logging in. When they perform the actual vote, then we can redirect them to the me app. If they don't have the me app we could ask them to download it or maybe register their vote as a "light" vote.

[2018-05-18 09:59] Fekkes commented on #86
Did a pull request :)

[2018-05-18 11:39] Fekkes commented on #86
After talking with @maxvisser I'm creating (togheter with Ernst-Jan) an instruction for compiling including an overview with the versions of all the packages that are required.

[2018-05-22 14:07] maxvisser commented on #87
Maybe outside collaborators can help with this issue?

http://github.com/teamsnowflake/research-and-development

[2018-06-01 10:00] maxvisser opened #89 "Testing out upgradable applications with ZeppelinOS"
# poc089-template
### v0.0

### Assignee:
Jasper

## Background / Context
**Goal/user story:**
creating a simple upgradable application using zeppelingos and their smart contract library.

**More:**
https://zeppelinos.org/

## Hypothesis
Using this would allow us to upgrade contract on our testnet and in the future on mainnet.

## Method
Following their tutorial in docs.zeppelinos.org
https://docs

[2018-06-06 11:05] danrminds commented on #84
Demo v0.2 developed. Left: to deploy the iOS version via TestFlight.
@jamalv When would you have some time to sync with Valentin and do it together?

[2018-06-18 13:31] maxvisser commented on #87
Has no priority right now. I close this issue until its relevant again. https://github.com/TeamSnowflake/research-and-development/issues/2#issuecomment-393115745

[2018-06-18 13:31] #87 closed

[2018-06-18 13:33] maxvisser commented on #86
@Fekkes Any update on this issue? Do you still want to do this. Don't know how relevant your comments are on the old version of the demo. Maybe if you deploy the new version after friday it will be relevant again..

[2018-06-18 13:34] maxvisser commented on #84
@GerbenBosschieter What do you still need for me to deploy the new version to the stakeholders?

[2018-06-18 13:34] maxvisser commented on #82
What is the status on this issue?

[2018-06-19 07:56] jamalv commented on #82
We recompiled the app on my computer, it did not work on Valentin's yet due to a bunch of weird issues.

Maybe this is not needed anymore since the demo will lose focus to the native app anyway (developed and compiled by Daniel)

[2018-06-19 07:56] #82 closed

[2018-06-19 07:59] Fekkes commented on #86
@maxvisser This issue isn't relevant anymore. We will publish a manual (in Dutch) in our own GitHub page for the version that we are using during our first fieldtest.

[2018-06-19 08:01] jamalv commented on #84
New demo is in TestFlight and on gerbens phone, when it is tested well we could start deploying to stakeholders. We should make a more concrete plan about this. Since @maartenfv is in contact with the stakeholders I think this falls under his responsibility.

One concern I have: There still are some issues to fix on the demo, I don't think it is worth the time investment to fix it since hopefully

[2018-06-19 08:02] #86 closed

[2018-06-19 08:16] maxvisser commented on #84
Yes it probably needs alot more support / work to get the new version rolling organisational. Time investment/strategy on this is for @maartenfv ; @GerbenBosschieter can maybe help contacting all stakeholders though.

[2018-06-19 10:20] GerbenBosschieter commented on #84
I can at least start to test the demo properly, not really sure what's in the scope of the functionalities  of the demo is. But nevertheless I will test it like it should work as a completely developed Me-App.
In the meanwhile we can wait till @maartenfv informs us of the value of the demo and I am definitely able to help contacting the stakeholders 👍

[2018-06-19 14:09] jamalv opened #96 "Peer-to-peer identification / communication"
![34671005-f329d714-f478-11e7-8c19-968ae55fdf6a](https://user-images.githubusercontent.com/30194799/37329210-1a899320-269d-11e8-8a17-3bfa13b34c2d.png)

this issue supersedes: https://github.com/teamforus/me/issues/21

[2018-06-19 15:33] jamalv opened #97 "Create proposal for delegate system"
This issue supersedes: https://github.com/teamforus/me/issues/15

[2018-06-21 06:45] GerbenBosschieter commented on #84
So I've done some tests on the Demo, I don't know if you guys want me to create issues for results. IF so, pleas tell me :)

Demo v0.2 test

Tab: Records

- [ ] It’s only possible to open the option ‘personal’ , other options can’t be opened.
- [ ] The phone number and BSN number are the same if you open ‘personal’. This can be confusing giving a demo.

Tab: Wallet

- [ ]  Search option doesn’t wo

[2018-06-21 06:51] jamalv commented on #84
Thx, @GerbenBosschieter
@danrminds, me and @maartenfv will discuss how to proceed

[2018-06-21 08:49] danrminds commented on #84
Tab assets is empty only for the regular citizens. If you switch to the Zuidhorn identity - you will see their building in the assets.

[2018-06-21 11:58] maxvisser commented on #84
@danrminds i would just add the tesla back or maybe add a cryptokitty

[2018-06-26 19:30] maartenfv commented on #84
I will place this on the direction agenda for 26-7 and make a final decision. https://docs.google.com/document/d/1h0ZVh7VzMUPJJ3JngRmHElmkFhBhOUKOn9_SwJ67uK4/edit

[2018-06-27 11:33] maartenfv commented on #84
Missie gaat door. Er komt een nieuwe versie. Gerben rolt uit. @GerbenBosschieter

[2018-06-27 11:33] maartenfv commented on #84
Demo afmaken zo simpel mogelijk. Verder op de echte app.

[2018-06-27 12:15] GerbenBosschieter commented on #84
Deployment is done, will not close this issue yet.
The android app apparently isn't working. Valentin is rebuilding it.

[2018-07-17 18:14] maartenfv commented on #84
@GerbenBosschieter @jamalv  Wat is de status/jullie kijk op deze issue?

[2018-07-17 18:32] jamalv commented on #84
I think most stakeholders have the demo v0.2, so it can be considered as deployed. If other requests come up we can answer them on a case-by-case basis. Now it is just a matter of moving to our native implementations asap :)

[2018-07-17 18:32] #84 closed

[2018-07-24 08:41] maxvisser opened #104 "Receiving, storing and disclosing IRMA attributes in Me."
**Is your feature request related to a problem? Please describe.**
At common grounds 2018 in march we spoke with the privacy by design foundation. They developed IRMA: I Reveal My Attributes; a react native app for ios and android where you can store zk-proofs (IDEMIX zero knowledge protocol).

We want to try and support this protocol for p2p validation, instead of using a centralized database.

*

[2018-08-24 11:01] maxvisser commented on #97
Devon, a student from texas USA, is interested to do this as R&D proof of concept. together with investigating: https://github.com/teamforus/me/issues/47

[2018-09-25 08:01] maxvisser opened #100 "Common ground: The beer case"
### Tasks:
 - [ ] Beer case front end
    - [ ] Design @Myshelova
    - [ ] Build @kremlinwarrior

The front end (shown at iPad/computer screen at the bar) will show a QR-code. After scanning, you will be asked to share your attribute (18+). When you approve and have the attribute, the screen will turn geen and show your profile picture. Stretch goal: it can also ask you to make the payment trough

[2018-09-25 08:04] maxvisser opened #101 "Common ground: Me app login"
### Task:
- [ ] Log into [consul](
https://github.com/consul/consul) using the me app. @kremlinwarrior
- [ ] SDK _(stretch goal)_ We need a system that works beyond consul. One thing is using OATH to generate a token, but actually want you to be able to share your (signed) attributes with 3rd parties. The way that this works is quite closely related to the beer case: https://github.com/teamforus/f

[2018-09-25 08:05] maxvisser opened #102 "Common ground: IRMA"
## IRMA
### The plan
- [ ] Use an IRMA attribute (e.g. kindpakketEligible) to unlock a kindpakket voucher in Forus.

### Will be worked on by:
@jastam, @maxvisser, tomas

[2018-09-25 08:06] jknnr commented on #100
wow the issue #100! congrats

[2018-09-26 06:40] jamalv commented on #100
Let’s celebrate with a case of beer! 🍻

[2018-10-09 18:16] #102 closed

[2018-10-11 06:42] #100 closed

[2018-10-11 06:42] #101 closed

[2018-11-02 15:55] jamalv opened #103 "Make results of feasibility research visible"
For SBIR it is important that we make the results of SBIR visible. This can be done with some screenshots / a video demo or better yet, an easy way to deploy locally (e.g. docker).

It is mainly about the following repos:
https://github.com/teamforus/rd-ethereum-wallet/tree/6c0263faf6205d676dcf7039e61ff24ed0615574
https://github.com/teamforus/rd-ethereum-platform

For the end report, screenshots a

[2018-11-06 08:31] martijndoornik commented on #103
Working on this now

[2018-11-06 09:58] martijndoornik commented on #103
Alright, a story will follow regarding the platform website. Note: the site is Dutch for demonstration reasons.

The first time a user will open the platform Forus website, the user will not have any accounts. It can add its account by pressing the "Account toevoegen" button. This will pop up a QR code the user can scan with its Identity app. The site will now listen for a Whisper message with a W

[2018-11-06 14:17] jastam commented on #103
Wallet app

**Create key**
When a user opens the app for the first time he will either have to create an new private key or import an existing one by scanning a QR code. This adds the private key to the app so it can be used for signing transactions on the Ethereum network.

![keys](https://user-images.githubusercontent.com/29141548/48069834-bde5b900-e1d6-11e8-85f4-5334bc2848ab.png)

**Create iden

[2018-11-08 18:33] #89 closed

[2018-11-29 08:30] martijndoornik commented on #54
Both have been implemented already, but not as of a POC. If this should be an indepentent piece of code, please reopen this issue and reassign me.

[2018-11-29 08:30] #54 closed

[2018-11-29 08:33] martijndoornik commented on #55
Part of the system. Can't be helped, really. The original transaction is signed by a private key. You can still retreive the signature and the address that signed it using _tx_. If you want to interact with the address that called your code, you can use _msg.sender_, but this can be another contract, such as an identity contract

[2018-11-29 08:33] #55 closed

[2018-11-29 08:42] martijndoornik commented on #39
Is this still relevant, @jamalv ?

[2018-11-29 09:13] martijndoornik commented on #15
Is this still relevant? If so, reopen

[2018-11-29 09:13] #15 closed

[2018-12-01 10:01] jamalv commented on #103
@nanningdejong has added this to the report.

Thanks for your input @jastam and @martijndoornik

Please add these documents (maybe in an updated form) to the repo's: https://github.com/teamforus/rd-ethereum-wallet/
https://github.com/teamforus/rd-ethereum-platform

[2018-12-01 10:10] jamalv commented on #52
closing due to inactivity

[2018-12-01 10:10] #52 closed

[2018-12-01 10:11] jamalv commented on #30
closing due to inactivity

[2018-12-01 10:11] #30 closed

[2018-12-01 10:54] #72 closed

[2018-12-01 10:55] maxvisser commented on #96
@jastam how was this done with whisper?

[2018-12-01 11:19] jamalv opened #105 "Me backend: decide on stack"
**Note:** this is an outline, please make suggestions for what you think needs to be here.

There are different possibilities to fulfilling the [me backend requirements](https://github.com/teamforus/research/blob/develop/me/backend-specs.md). This epic is meant to gather an overview of the different possibilities so that we can do POCs and make a good decision.

Protocol | Issue
-- | --
[IRMA](htt

[2018-12-01 13:47] maxvisser commented on #105
Also I think we need some desktop applications/website to go along with Me. As 4th role of our platform, validator need some way to see its validations or prevalidations in a dashboard other than a app.

[2018-12-01 15:00] jamalv commented on #105
Nice insight 👍 The scope can initially focus on the app. But it is good to take already consider this.

[2018-12-02 09:09] jamalv commented on #105
Completely agree with the pragmatic approach taken here, it seems to strike the right balance. It offers the best solution to the end user and does move the pin in the right direction, for example in increasing adoption of ether. We will go from there. Research and POCs can be used to "prove you wrong". 😉

[2018-12-02 10:39] maxvisser commented on #105
We could therefor also decide that Me needs to become a product that does research into self sovereign identity and the pragmatic approach I am taking is just called Forus profile/account. Its therefor just a decision if we want to even do #104 or just fork irma_mobile and add a tab for forus wallet.

I see pro's / con's for both.

Pro's for implementing irma in Me:
- two native apps, better user

[2018-12-02 10:52] jamalv commented on #105
I think the comment above fits #104 better. I think here we should stay on topic about the me app stack with a wider view. The results of discussion in #104 can go in here when they are (semi) conclusive.

[2018-12-02 11:02] maxvisser commented on #104
We could also decide that Me needs to become a product that does research into self sovereign identity and the pragmatic approach I am taking is just called Forus profile/account. Its therefor just a decision if we want to implement irma into Me or just fork irma_mobile and add a tab for forus wallet.

I see pro's / con's for both.

Pro's for implementing irma in Me:
- two native apps, better user

[2018-12-03 07:48] jastam commented on #96
This one is actually still on the todo list, either with whisper or ipfs. I don't know if it's still relevant but i like to keep it anyway to figure this out someday.

[2019-03-12 11:01] jamalv opened #106 "Epic: Restructuring product vouchers."

[2019-03-13 09:14] maxvisser commented on #106
if we would restructure we need to look into laws around ' koop op afstand '

[2019-03-20 14:09] jamalv opened #107 "Multiple organisations"

[2019-03-20 14:17] jamalv commented on #107
email verification
kvk uniqueness

[2019-03-20 14:22] maxvisser commented on #107
being able to make a request to add a office

[2019-03-20 14:26] maxvisser commented on #107
being able to make multiple e-mails and set one as primary

[2019-03-20 14:49] maxvisser commented on #107
more ways to authenticate: phonenumber, privatekey

[2019-03-20 14:51] maxvisser commented on #107
verification of address via postal

[2019-06-03 08:32] jamalv opened #110 "Roadmap"
## Context
Forus has an extensive vision. This issue is about creating a roadmap that breaks up this vision into milestones. The roadmap will be shared on https://www.forus.io/toekomst

[2019-06-21 09:42] maxvisser opened #111 "endpoints for me backend api rog"
**/**
GET status

**identity/**
POST create
GET identity

**identity/records**
POST store
GET show
DELETE delete

**identity/records/validations/**
POST store
PATCH approve
PATCH decline
GET show

In this SMVP we will not use record types; user will fill in both record type and value themselves

[2019-06-25 11:02] jamalv opened #112 "Record store (business) model"
## Context
The me app is meant to be a self sovereign solution. Regarding data storage, this means giving the user the choice where they want to store it.

## Storing in me (app)
If the user chooses to store their data in their app, for most people it will be linked to either their Apple ID or Google Account. Most modern smartphones perform regular backups. This means people can recover their data

[2019-06-25 11:06] jamalv commented on #112
Note: in the context of Forus, people could pay from their voucher. The flow could go like this.

- People request a fund trough the application procedure, and gather all required personal info
- After the funds are granted, the user get’s a choice:
  - Do you want to store this data so you can use it to apply for this and other funds quicker?
    - It costs €x for €x period, you can pay it from y

[2019-06-25 11:58] #111 closed

[2019-11-21 14:31] maxvisser commented on #104
As this is currently not actively being worked on I will close this issue. We can reopen it when it becomes relevant again.

[2019-11-21 14:31] #104 closed

[2022-02-28 09:12] jamalv opened #113 "Zero knowledge"
Research into zero knowledge as a better way to store and utilise records